// Sticky Header
@-webkit-keyframes fixedHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translamenuteY(0);
  }
}

@keyframes fixedHeader {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky-header {
  position: relative;

  .product-action {
    .product-single-qty {
      margin-bottom: 0;
    }
  }
  
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    z-index: 500;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: fixedHeader;
    animation-name: fixedHeader;

    .main-nav {
      width: auto;
      background-color: transparent;
    }

    .menu {
      > li.float-right {
        > a {
          background-color: transparent;
        }
      }
    }

    .logo,
    .cart-dropdown {
      display: block;
    }
  }

  &.fixed-nav {
    position: fixed;
    top: 88px;
    right: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 450;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: fixedHeader;
    animation-name: fixedHeader;

    .product-title {
      margin-top: 0;
      white-space: nowrap;
    }

    .container {
      margin: 0 auto;
      padding-left: 1rem;
      border-color: transparent;
    }
  }

  .buy-effect a {
    padding-left: .5rem;
  }
}

.sticky-header.scroll {
  margin-right: 17px;
}

@include mq(lg, max) {
  .sticky-header.fixed-nav {
    top: 0;
  }
}

@include mq(md, max) {
  .sticky-header.fixed {
    display: none;
  }
}

@include mq(sm, max) {
  .sticky-header.fixed-nav {
    display: none;
  }
}